
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_QLBHMALayout.cshtml";
}
@section Banner
{
    @Html.Partial("_BannerPartial")
}
<div class="site-section site-blocks-2">
    <div class="container">
        <div class="row">
            @Html.Action("ThuongHieuIndex", "ThuongHieu")
        </div>
    </div>
</div>
@Html.Action("_LoaiIndex", "Loai")
@Html.Partial("_SalePartial")

